<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog安装</title>
    <link href="//cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/setup.css"/>
</head>
<body style="background: url(/images/bg-login.jpg) !important;">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="login-box">
            <div class="icons">
                <a href="/"><i class="icon-home"></i></a>
                <a href=""><i class="icon-cog"></i></a>
            </div>
            <h2>blog安装</h2>

            <form class="form-horizontal" name="register">
                <div class="box">
                    <div class="box-label text-right" for="username">用户：</div>
                    <div class="box-ctrl">
                        <input type="text" id="user_login" name="user_login" placeholder="username" value="admin">
                    </div>
                </div>
                <div class="box">
                    <div class="box-label text-right" for="user_pass">密码：</div>

                    <div class="box-ctrl">
                        <input type="password" id="user_pass" name="user_pass" placeholder="password" value="admin">
                    </div>
                </div>
                <div class="box">
                    <div class="box-label text-right" for="user_pass2">确认密码：</div>

                    <div class="box-ctrl">
                        <input type="password" id="user_pass2" name="user_pass2" placeholder="password">
                    </div>
                </div>
                <div class="box">
                    <div class="box-label text-right" for="user_email">user_email：</div>

                    <div class="box-ctrl">
                        <input type="text" id="user_email" name="user_email" placeholder="user_email">
                    </div>
                </div>
                <div class="box">
                    <div class="box-label text-right" for="display_name">display_name：</div>

                    <div class="box-ctrl">
                        <input type="text" id="display_name" name="display_name" placeholder="display_name">
                    </div>
                </div>
                <div class="box">
                    <div class="box-label text-right" for="user_nicename">user_nicename：</div>

                    <div class="box-ctrl">
                        <input type="text" id="user_nicename" name="user_nicename" placeholder="user_nicename">
                    </div>
                </div>
                <div class="box">
                    <div class="box-label text-right" for="user_url">user_url：</div>

                    <div class="box-ctrl">
                        <input type="text" id="user_url" name="user_url" placeholder="user_url">
                    </div>
                </div>
                <div class="box text-center">
                    <button class="btn btn-primary" style="background-color: #2D89EF" type="button"
                            onclick="doSetup()">setup
                    </button>
                </div>
                <div class="clearfix"></div>
                <div class="error">
                    <span id="error"></span>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="//cdn.bootcss.com/jquery/1.10.1/jquery.js"></script>
<script type="text/javascript">
    function doSetup() {
        var username = $("#user_login").val();
        var password = $("#user_pass").val();
        var password2 = $("#user_pass2").val();
        if (password !== password2) {
            alert('pass1!=pass2');
            return;
        }
        $.post("/setup/install.do", {
            user_login: username,
            user_pass: password,
            user_email: $("#user_email").val(),
            user_url: $("#user_url").val(),
            display_name: $("#display_name").val(),
            user_nicename: $('#user_nicename').val()
        }, function (data) {
        	if(data.errorMessage){
		        $("#error").text(data.errorMessage);
            }else{
		        window.location.href = "/";
            }
        });
    }

</script>
</body>
</html>