<ul class="menu-nav" id="menu-list">
    <li class="active">
        <a href="#" class="level1">
            <div class="menu-arrow"></div>
            <div class="menu-image"><i class="icon-tags icon-white"></i></div>
            <div class="menu-name">文章1</div>
        </a>
        <ul class="menu-nav2">
            <li><a>所有文章</a></li>
            <li><a>写文章</a></li>
            <li><a>写文章</a></li>
            <li><a>写文章</a></li>

        </ul>
    </li>
    <li>
        <a href="#" class="level1">
            <div class="menu-arrow"></div>
            <div class="menu-image"><i class="icon-search icon-white"></i></div>
            <div class="menu-name">文章2</div>
        </a>
        <ul class="menu-nav2">
            <li><a>所有文章</a></li>
            <li><a>写文章</a></li>
            <li><a>写文章</a></li>
            <li><a>写文章</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="level1">
            <div class="menu-arrow"></div>
            <div class="menu-image"><i class="icon-search icon-white"></i></div>
            <div class="menu-name">文章3</div>
        </a>
        <ul class="menu-nav2">
            <li><a>所有用户</a></li>
            <li><a>添加用户</a></li>
            <li><a>我的个人资料</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="level1">
            <div class="menu-arrow"></div>
            <div class="menu-image"><i class="icon-search icon-white"></i></div>
            <div class="menu-name">工具4</div>
        </a>
        <ul class="menu-nav2">
            <li><a>所有文章</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="level1 menu-ctrl">
            <div class="menu-arrow"></div>
            <div class="menu-image"><i class="icon-search icon-white"></i></div>
            <div class="menu-name">工具4</div>
        </a>
    </li>
</ul>