<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>500 - server error</title>
<link href="/css/error.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div class="container error-500">
    <!--top-->
    <!--./top-->

    <!--error-->
    <div class="main">
        <div class="error">
            <div class="error-text">
                <h3>服务器异常</h3>
                <p>非常抱歉，服务器发生异常</p>
                <a href="javascript:history.go(-1);"  class="btn float-l">原地复活<br /><span>Impossible</span></a>
                <a href="/"  class="btn btn-highlight float-l">回到首页<br /><span>Go</span></a>
            </div>
        </div>
    </div>
    <!--./error-->
</div>
</body>
</html>
