<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= locals.title %> - Microblog</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <!--<link rel='stylesheet' href='/css/bootstrap-responsive.min.css'/>-->
    <link rel='stylesheet' href='/css/index.css'/>
    <script src="/js/jquery.js"></script>
</head>
<body class="custom-background">
<div id="page">
    <div id="left">
        <header id="masthead" class="site-header" role="banner">
            <div class="hgroup">
                <h1 class="site-title display-title"><a href="http://115.28.81.19/" title="x373241884y的e博客"
                                                        rel="home"><span itemprop="name">x373241884y的e博客</span></a></h1>
                <h2 itemprop="description" class="site-description">黑夜独自行走！</h2></div>
            <button type="button" class="btn btn-link hidden-lg toggle-sidebar" data-toggle="offcanvas"
                    aria-label="Sidebar"><i class="fa fa-gear"></i></button>
            <button type="button" class="btn btn-link hidden-lg toggle-navigation" aria-label="Navigation Menu"><i
                        class="fa fa-bars"></i></button>
            <nav id="site-navigation" class="navigation main-navigation" role="navigation">
                <div class="nav-menu">
                    <ul>
                        <li class="page_item page-item-2"><a href="http://115.28.81.19/sample-page/">Sample Page</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="sidebar-offcanvas">
            <div id="main-sidebar" class="widget-area" role="complementary">
                <aside id="search-2" class="widget widget_search">
                    <form method="get" id="searchform" action="http://115.28.81.19/">
                        <label for="s" class="assistive-text">搜索</label>
                        <input type="text" class="field" name="s" id="s" placeholder="搜索">
                        <input type="submit" class="submit" name="submit" id="searchsubmit" value="搜索">
                    </form>
                </aside>
                <aside id="recent-posts-2" class="widget widget_recent_entries">
                    <h3 class="widget-title">近期文章</h3>
                    <ul>
                        <li>
                            <a href="http://115.28.81.19/2015/10/27/%e5%90%84%e7%b3%bb%e7%bb%9f%e4%b8%8b%e8%ae%be%e7%bd%ae%e8%be%93%e5%85%a5%e6%b3%95%e6%8c%89%e9%94%ae%e4%b8%bactrl%2bshift%2bspace/">各系统下设置输入法按键为ctrl+shift+space</a>
                        </li>
                        <li>
                            <a href="http://115.28.81.19/2015/10/26/centos%e5%ae%89%e8%a3%85gnome%e4%b8%bb%e8%8f%9c%e5%8d%95%e7%bc%96%e8%be%91%e5%99%a8%e6%97%a0/">Centos安装gnome主菜单编辑器无</a>
                        </li>
                        <li>
                            <a href="http://115.28.81.19/2015/10/17/%e5%9f%ba%e4%ba%8eandroid%e6%b7%b7%e5%90%88%e5%bc%80%e5%8f%91%e7%9a%84jsbridge%e6%8a%80%e6%9c%af%e5%ad%a6%e4%b9%a0/">基于android混合开发的JsBridge技术学习</a>
                        </li>
                        <li>
                            <a href="http://115.28.81.19/2015/07/26/%e4%bd%bf%e7%94%a8centos%e5%bc%95%e5%af%bc%e5%86%85%e6%a0%b8%e9%94%99%e8%af%af%ef%bc%9akernel%3apnp00%3a0b%3acan%27tevaluate_crs%3a8/">使用centos引导内核错误：kernel:
                                pnp 00:0b: can’t evaluate _CRS: 8</a>
                        </li>
                        <li>
                            <a href="http://115.28.81.19/2015/07/11/mysql%e7%9a%84%e9%94%99%e8%af%af%ef%bc%9atheserverquitwithoutupdatingpidfile%2fusr%2flocal%2fmysql%2fdata%2fdoor-pid%29/">mysql的错误：The
                                server quit without updating PID file /usr/local/mysql/data/door.pid).</a>
                        </li>
                    </ul>
                </aside>
                <aside id="recent-comments-2" class="widget widget_recent_comments">
                    <h3 class="widget-title">近期评论</h3>
                    <ul id="recentcomments"></ul>
                </aside>
                <aside id="archives-2" class="widget widget_archive">
                    <h3 class="widget-title">文章归档</h3>
                    <ul>
                        <li><a href="http://115.28.81.19/2015/10/">2015年十月</a></li>
                        <li><a href="http://115.28.81.19/2015/07/">2015年七月</a></li>
                        <li><a href="http://115.28.81.19/2015/06/">2015年六月</a></li>
                        <li><a href="http://115.28.81.19/2015/04/">2015年四月</a></li>
                        <li><a href="http://115.28.81.19/2014/12/">2014年十二月</a></li>
                        <li><a href="http://115.28.81.19/2014/11/">2014年十一月</a></li>
                    </ul>
                </aside>
                <aside id="categories-2" class="widget widget_categories">
                    <h3 class="widget-title">分类目录</h3>
                    <ul>
                        <li class="cat-item cat-item-2"><a
                                    href="http://115.28.81.19/category/android%e6%b7%b7%e5%90%88%e5%bc%80%e5%8f%91jsbridge/">android混合开发
                                jsbridge</a>
                        </li>
                        <li class="cat-item cat-item-4"><a
                                    href="http://115.28.81.19/category/centos%e5%86%85%e6%a0%b8%e5%8f%82%e6%95%b0/">centos
                                内核 参数</a>
                        </li>
                        <li class="cat-item cat-item-13"><a href="http://115.28.81.19/category/filter/">filter</a>
                        </li>
                        <li class="cat-item cat-item-9"><a href="http://115.28.81.19/category/hibernate/">hibernate</a>
                        </li>
                        <li class="cat-item cat-item-12"><a
                                    href="http://115.28.81.19/category/interceptor/">interceptor</a>
                        </li>
                        <li class="cat-item cat-item-8"><a href="http://115.28.81.19/category/java/">java</a>
                        </li>
                        <li class="cat-item cat-item-3"><a href="http://115.28.81.19/category/js/">js</a>
                        </li>
                        <li class="cat-item cat-item-5"><a href="http://115.28.81.19/category/linux/">linux</a>
                        </li>
                        <li class="cat-item cat-item-6"><a href="http://115.28.81.19/category/mysql/">mysql</a>
                        </li>
                        <li class="cat-item cat-item-11"><a href="http://115.28.81.19/category/struts2/">struts2</a>
                        </li>
                        <li class="cat-item cat-item-7"><a href="http://115.28.81.19/category/ubuntuman/">ubuntu man</a>
                        </li>
                        <li class="cat-item cat-item-1"><a href="http://115.28.81.19/category/uncategorized/">Uncategorized</a>
                        </li>
                        <li class="cat-item cat-item-14"><a href="http://115.28.81.19/category/web-xml/">web.xml</a>
                        </li>
                        <li class="cat-item cat-item-10"><a
                                    href="http://115.28.81.19/category/%e6%95%b0%e6%8d%ae%e5%ba%93/">数据库</a>
                        </li>
                    </ul>
                </aside>
                <aside id="meta-2" class="widget widget_meta">
                    <h3 class="widget-title">功能</h3>
                    <ul>
                        <li><a href="http://115.28.81.19/wp-login.php">登录</a></li>
                        <li><a href="http://115.28.81.19/feed/">文章<abbr title="Really Simple Syndication">RSS</abbr></a>
                        </li>
                        <li><a href="http://115.28.81.19/comments/feed/">评论<abbr
                                        title="Really Simple Syndication">RSS</abbr></a></li>
                        <li><a href="https://cn.wordpress.org/" title="基于WordPress，一个优美、先进的个人信息发布平台。">WordPress.org</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <div id="right">
        <h1 class="page-title">月份：2015年7月</h1>
        <div id="content" style="height: 900px">

        </div>
        <div id="footer">
            <a href="http://cn.wordpress.org/" title="优雅的个人发布平台">由WordPress自豪地提供</a>.
            主题：Flat 1.7.6 by <a rel="nofollow" href="https://themeisle.com/themes/flat/"
                                title="Flat WordPress Theme">Themeisle</a>
        </div>
    </div>
</div>
</body>
</html>