<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register page</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
    <script type="text/javascript" src="../js/jquery.js"></script>
</head>
<body>
<div class="container-fluid" style="margin: 120px auto;padding: 20px 15px; border: 1px solid grey;border-radius: 5px">
    <div class="row-fluid">
        <div class="span6 offset3">
            <form class="form-horizontal" name="register" action="/user/signup" method="post">
                <div class="control-group">
                    <label class="control-label" for="username">username</label>

                    <div class="controls">
                        <input type="text" id="user_login" name="user_login" placeholder="username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_pass">password</label>

                    <div class="controls">
                        <input type="password" id="user_pass" name="user_pass" placeholder="user_pass">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_pass2">password2</label>

                    <div class="controls">
                        <input type="password" id="user_pass2" name="user_pass2" placeholder="user_pass2">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">email</label>

                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_nicename">nicename</label>

                    <div class="controls">
                        <input type="text" id="user_nicename" name="user_nicename" placeholder="nicename">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">submit</button>
                </div>
                <% if (locals.error){ %>
                <div class="text-center"><%= error %></div>
                <% } %>
            </form>
        </div>
    </div>
</div>
</body>
</html>