
/******reset******/
html {color: #3a3a3a}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin: 0;padding: 0;}
body {background: #FFF; font: 12px "Helvetica Neue",Helvetica,STheiti,微软雅黑,黑体,Arial,Tahoma,sans-serif,serif;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset, img {border: 0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;font-weight: normal;}
li {list-style: none;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
q:before, q:after {content: '';}
abbr, acronym {border: 0;font-variant: normal;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input, textarea, select {font-family: inherit;font-size: inherit;font-weight: inherit;}
input, textarea, select {*font-size:100%;}
legend {color: #3a3a3a;}
a {color: #3a3a3a;text-decoration: none;}
a:hover {text-decoration: none; color:#eb6100;}
a:active, a:focus{outline:none}
input[type=button],input[type=submit]{ border:none 0; cursor:pointer}
ol,ul{list-style:none;}
i,em{font-style:normal;}

/******layout******/
.main{  margin:0 auto;}
.middle{width:1000px; margin:0 auto; position:relative;}
.float-l{ float:left}
.float-r{ float:right}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix {display:inline-block}
* html .clearfix {height:1%}
.clearfix {display:block}

/*top*/
.top{height:204px; background:#3f3f3f; height:35px; line-height:35px;}
.t-wrap{width:1000px; margin:0 auto; position:relative; overflow:hidden;}
.t-shortc { float:left; display:inline;}
.t-shortc li {float:left;padding:0 10px;height:35px; margin-right:18px;}
.t-shortc li a {display:block;overflow:hidden; color:#8c8c8c;}
.t-shortc li a.t-l1 {width:105px}
.t-shortc li a.t-l2 {width:116px;}
.t-shortc li a.t-l3 {width:80px;}
.t-login {top:0;right:0;height:35px;color:#fff;text-align:center; position:absolute;}
.t-login a {color:#fff;padding: 8px 0;}
.t-login a.reg{margin-left:16px;}
/*header*/
.header{ height:140px; border-bottom:1px solid #e2e2e6; background:#fafafa;}
.h-wrap{ width:1000px;margin:0 auto; overflow:hidden;}
.h-logo{ height:61px; overflow:hidden; margin-top:21px;}
.logo{height:53px;width:164px;background:url(/images/sprite.png) no-repeat 0px -138px; display:block; float:left; margin:0 37px 0 10px;}
.cc-ad1,.search{ padding-top:1px;}
.search{width:400px; float:left; display:inline;}
.search input{border:1px solid #a2a2a2;background:#fff; outline:none;width:338px; height:33px; vertical-align:middle; float:left; display:inline; text-indent:10px; font-size:14px;}
.search input.ser-btn{height:35px;width:60px;background:url(/images/sprite.png) no-repeat 0px -68px;cursor:pointer;border:none;}
.search input.ser-btn:hover{height:35px;width:60px;background:url(/images/sprite.png) no-repeat 0px -103px; }
.search form{ clear:both; height:35px;}
.cc-ad1{float:left; display:inline; margin-left:49px;}
.h-tags{padding-top: 3px;}
.h-tags a{ color:#c6c6c9; padding:3px;}
.h-nav{ margin-top:12px; overflow:hidden; clear:both;}/*导航*/
.h-nav ul{ float:left; display:inline;}
.h-nav ul li{float:left; display:inline;}
.h-nav ul li a{color:#464646;}
.h-navl{ width:634px; font-size:14px;}
.h-navl li{ padding-left:10px; height:22px;}
.navl-1{ width:80px;}
.navl-2{ width:130px;}
.navl-3,.navl-4{ width:90px;}
.navl-5{ width:100px;}
.navl-6{ width:84px;}
.h-navr{ width:344px; padding-left:21px; border-left:1px solid #E0E0E4; font-size:18px; height:41px; line-height:41px;}
.h-navr li{ margin-right:38px;}
.h-navr li.navr-last{ margin:0 0 0 5px;}


.container{min-height:100%;height: auto !important;height: 100%; /*IE6不识别min-height*/}
.error-404 .main{height:300px; padding-bottom:80px}
.error-footer{position:relative;  margin-top:-80px; height:80px; width:100%}/*固定footer*/
.error{ width:630px; margin:0 auto; margin-top:10%; background:url(/images/error-404.png) no-repeat; height:289px  }
.error-text{  float:left; margin-top:105px; margin-left:312px;}
.error-text h3{ font-size:32px; font-weight:bold;color:#3f3f3f; letter-spacing:5px}
.error-text p{color:#888; font-size:14px; height:58px; line-height:58px}
.error .btn{width:134px; height:40px;text-align:center; display:block;background:#eaeaeb; border-radius:5px; color:#aaaaad; font-size:18px; line-height:17px; padding-top:14px; letter-spacing:2px; text-decoration:none}
.error .btn span{ font-size:12px; letter-spacing:0}
.error .btn-highlight{ background:#ffa200; color:#fff; margin-left:45px}
.error .btn:hover{background:#ffa200; color:#fff;}
.orange{color:#eb6100 !important;}
