<div oc-lazy-load="htmls/User/UserInfo/UserInfo.js">
	<div ng-controller="UserInfoCtrl" ng-init="startup()">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="h4">用户列表</span>
			</div>
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<form class="form-horizontal" name="register" action="/user/signup" method="post">
								<div class="form-group">
									<label class="col-md-3 control-label" for="user_login">username</label>

									<div class="col-md-9">
										<input type="text" class="form-control" id="user_login" name="user_login"
										       ng-model="userinfo.user_login" placeholder="username">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="user_email">email</label>

									<div class="col-md-9">
										<input type="text" class="form-control" id="user_email" name="user_email"
										       ng-model="userinfo.user_email">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="user_nicename">nicename</label>

									<div class="col-md-9">
										<input type="text" class="form-control" id="user_nicename" name="user_nicename"
										       ng-model="userinfo.user_nicename">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="display_name">displayname</label>

									<div class="col-md-9">
										<input type="text" class="form-control" id="display_name" name="display_name"
										       ng-model="userinfo.display_name">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="user_url">url</label>

									<div class="col-md-9">
										<input type="text" class="form-control" id="user_url" name="user_url" ng-model="userinfo.user_url">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
