<div id="toolbar">
    <%
    if (!locals.session || !locals.session.user) {
        console.log('redirect signup!!please login!');
        response.redirect("/signin.c");
    }
    %>
    <div id="sub-wrapper">
        <ul class="toolbar-left">
            <li>
                <a class="logo" href="/user/about">
                    <i class=" icon-info-sign icon-white"></i>
                </a>
            </li>

            <li>
                <a class="user">
                    <i class="  icon-home icon-white"></i>
                </a>
            </li>
            <li>
                <a class="nice">
                    <i class=" icon-info-sign icon-white"></i>
                    <span>昵称:<%= session.user.user_nicename %></span>
                </a>
            </li>
            <li>
                <a class="email">
                    <i class=" icon-info-sign icon-white"></i>
                    <span>用户邮箱:<%= session.user.user_email %></span>
                </a>
            </li>
        </ul>
        <ul class="toolbar-right">
            <li>
                <a class="user">
                    <span>用户:<%= session.user.user_login %></span>
                    <i class="  icon-user icon-white"></i>
                </a>
            </li>
            <li>
                <a class="logout" href="/user/signout">
                    <span>退出</span>
                </a>
            </li>
        </ul>
    </div>
</div>