body {
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}

* {
    padding: 0px;
    margin: 0px;
}

#header {
    direction: ltr;
    font: 400 13px/32px "Open Sans", sans-serif;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background-color: #23282d;
}

#toolbar a {
    display: block;
    line-height: 32px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #fff;
}

#toolbar a:hover {
    background-color: #191e23;
    color: #00b9eb;
}

#toolbar a.logo {
    width: 14px;
    height: 32px;
    padding: 0px 9px;
}

#toolbar .toolbar-left {
    float: left;
}

#toolbar .toolbar-left:after {
    clear: left;
}

#toolbar .toolbar-right {
    float: right;
}

#toolbar .toolbar-right:after {
    clear: right;
}

#toolbar i {
    margin: 0 auto;
}

#toolbar ul {
    text-align: left;
    background: 0 0;
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 0;
    z-index: 99999;
    display: block;
}

#toolbar li {
    float: left;
}

#toolbar ul li {
    background: 0 0;
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 0;
    z-index: 99999;
}

#main {
    position: relative;
}

#main:after {
    clear: both;
}

#admincontent {
    padding-left: 160px;
    min-height: 700px;
    background-color: #fff;
    margin-top: 32px;
    padding-bottom: 32px;
}

#footer {
    margin-left: 160px;
    line-height: 32px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: lightgray;
    width: 100%;
    z-index: 100;
}

.breadcrumb {
    text-decoration: none;
}

#admincontent .mainContent {
    padding: 0px 15px;
}

#admincontent .mainContent .content_title {
    padding: 0px 20px;
}

body.editor-fullscreen #header {
    height: 0px;
    z-index: -1;
}

body.editor-fullscreen #footer {
    height: 0px;
    z-index: -1;
}

#sub-wrapper .toolbar-sub {
    display: block;
    list-style: none;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: gray;
}

#sub-wrapper .toolbar-sub li > a:hover {
    background-color: #555;
}

#sub-wrapper .toolbar-sub li {
    width: 100%;
}