#adminmenu, #adminmenuback, #adminmenuwrap {
    width: 160px;
    background-color: #23282d;
}

#adminmenu {
    position: fixed;
    height: 800px;
    color: #fff;
    border-top: 5px solid grey;
}

#adminmenu li > a:hover {
    cursor: pointer;
}
#adminmenu .menu-nav2 li.active>a {
    color: #ffffff;
}
.folded #adminmenu, .folded #adminmenu, .folded #adminmenuback, .folded #adminmenuwrap {
    width: 36px;
}

.folded #adminmenu, .folded #adminmenu li {
    width: 36px;
}

.folded #adminmenu .menu-name {
    position: absolute;
    left: -999px;
}

#adminmenu .menu-nav {
    clear: left;
    margin: 0;
    padding: 0;
}

#adminmenu li {
    list-style: none;
}

.menu-nav a, .menu-nav2 a {
    text-decoration: none;
    color: #eee;
}

#adminmenu .menu-nav2 {
    display: none;
    padding: 7px 0 8px;
    margin: 0px;
}

#adminmenu .menu-nav2.active {
    display: block;
}

#adminmenu .menu-nav > li {
    border: 0;
    min-height: 34px;
    position: relative;
}

#adminmenu .menu-nav > li {
    border: 0;
    min-height: 34px;
    position: relative;
}

#adminmenu .menu-nav > li > a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: block;
    padding: 0;
    color: #eee;

}

#adminmenu .menu-nav > li > a:after {
    clear: both;
}

#adminmenu .menu-nav > li > a.active {
    background-color: #0073aa;
    color: #00b9eb;
}
#adminmenu .menu-nav > li > a:hover {
    background-color: #191e23;
    color: #00b9eb;
}

#adminmenu .menu-name {
    padding: 8px 0;
}

#adminmenuback {
    position: fixed;
    top: 0;
    bottom: -120px;
    z-index: 1;
}

#adminmenuwrap {
    position: fixed;
    float: left;
    z-index: 9990;
}

#adminmenu div.menu-image {
    float: left;
    width: 36px;
    line-height: 34px;
    margin: 0;
    text-align: center;
}

#adminmenu .menu-nav2 > li > a {
    font-size: 13px;
    padding: 6px 14px;
    display: block;
    color: #b4b9be;
}

#adminmenu .menu-nav2 > li > a:hover {
    background-color: #191e23;
    color: #00b9eb;
}

#adminmenu .menu-nav2 > li > a.active {
    color: #ffffff;
}