/**layout **/
/*body {
    background: #FFF;
    font: 14px "Helvetica Neue", Helvetica, STheiti, 微软雅黑, 黑体, Arial, Tahoma, sans-serif, serif;
}*/

a {
    color: #3a3a3a;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #eb6100;
}

a:active, a:focus {
    outline: none
}

.level2.active a {
    color: #eb6100;
}

.pagination > ul > li > a.disable {
    color: #999;
    cursor: default;
}

.form-horizontal .control-group input[type=text].ng-invalid, .form-horizontal .control-group input[type=password].ng-invalid, .form-horizontal .control-group select.ng-invalid {
    border: 1px solid red;
}

.editormd {
    margin: 0px;
}