<div id="adminmenuback"></div>
<div id="adminmenuwrap">
	<ul class="menu-nav" id="menu-list" ui-slide-toggle>
		<li class="active">
			<a class="level1 " ng-click="goto('/')">
				<div class="menu-arrow"></div>
				<div class="menu-image"><i class=" icon-dashboard icon-large "></i></div>
				<div class="menu-name">仪表盘</div>
			</a>
		</li>
		<li>
			<a class="level1 ">
				<div class="menu-arrow"></div>
				<div class="menu-image"><i class="icon-edit icon-large"></i></div>
				<div class="menu-name">文章</div>
			</a>
			<ul class="menu-nav2 ">
				<li><a class="level2" ng-click="goto('/PostList')">所有文章</a></li>
				<li><a class="level2" ng-click="goto('/PostAdd/')">写文章</a></li>
				<li><a class="level2" ng-click="goto('/PostCategory')">分类目录</a></li>
				<li><a class="level2" ng-click="goto('/PostTag')">标签</a></li>
			</ul>
		</li>
		<li>
			<a class="level1 ">
				<div class="menu-arrow"></div>
				<div class="menu-image"><i class=" icon-file icon-large"></i></div>
				<div class="menu-name">页面</div>
			</a>
			<ul class="menu-nav2 ">
				<li><a class="level2" ng-click="goto('/PageList')">所有页面</a></li>
				<li><a class="level2" ng-click="goto('/PageAdd')">新建页面</a></li>
			</ul>
		</li>
		<li>
			<a class="level1 ">
				<div class="menu-arrow"></div>
				<div class="menu-image"><i class="icon-comment icon-large"></i></div>
				<div class="menu-name">评论</div>
			</a>
			<ul class="menu-nav2 ">
				<li><a class="level2" ng-click="goto('/CommentList')">所有评论</a></li>
			</ul>
		</li>
		<li>
			<a class="level1 ">
				<div class="menu-arrow"></div>
				<div class="menu-image"><i class="icon-user icon-large"></i></div>
				<div class="menu-name">用户</div>
			</a>
			<ul class="menu-nav2 ">
				<li><a class="level2" ng-click="goto('/UserList')">所有用户</a></li>
				<li><a class="level2" ng-click="goto('/UserAdd')">添加用户</a></li>
				<li><a class="level2" ng-click="goto('/UserInfo')">我的个人资料</a></li>
			</ul>
		</li>
		<li>
			<a class="level1 ">
				<div class="menu-arrow"></div>
				<div class="menu-image"><i class="icon-asterisk icon-large"></i></div>
				<div class="menu-name">设置</div>
			</a>
			<ul class="menu-nav2 ">
				<li><a class="level2" ng-click="goto('/PersonSetting')">个性设置</a></li>
				<li><a class="level2">撰写</a></li>
				<li><a class="level2">阅读</a></li>
			</ul>
		</li>
		<li>
			<a class="level1 menu-ctrl">
				<div class="menu-arrow"></div>
				<div class="menu-image"><i class="icon-circle-arrow-left icon-large"></i></div>
				<div class="menu-name">收起</div>
			</a>
		</li>
	</ul>
</div>